h1{
font-size:50px;	
text-align:center;
}
h2{
font-size:40px;	
text-align:right;
color:#44938F;
}
h3{
font-size:30px;	
text-align:right;
color:#00B5C6;
}
p{
font-size:25px;	
text-align:right;
word-spacing:5px;
}
body{
background-color:#CBCBCB;	
}
img{
width:300px;
height:450px;
display:block;
margin-left:auto;
margin-right:auto;
}
ol{
font-size:25px;	
text-align:right;
word-spacing:5px;
}